* {
    box-sizing: border-box;
    --back-color: rgb(54, 137, 206);
    --color: rgb(255, 255, 255);
}
body{
    display: grid;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    background-color: var(--back-color);
    color: var(--color);
    
    align-items: center;
    font-weight: bold;
    font-size: 20px;

}
div::before {
    content: "Elzero";
    position: absolute;
    width: 95%;
    height: 15%;
    top: 165px;
    left: 0;
    padding-left: 10px;
    background-color: var(--back-color);
    /* transform: matrix(0.6, 0, 0.4, 1, -69, 0); */
    border-bottom: black solid 5px;
    z-index: 0;
}

div::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    top: -71px;
    left: 27px;
    background-color:black;
    /* transform: matrix(0.2, 0, 0.4, 1, -139, 0); */
    /* border: 3px solid; */
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    transform: rotate(314deg);
    
    
    z-index: 1;
}
