* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.parent {
    padding: 10px;
    margin: 10px auto;
    width: 400px;
    background-color: #eee;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.parent:hover {
    margin-top: 20px;
}

p {
    padding: 10px;
    margin: 10px;
    background-color: #afafaf;
    transition: all 0.5s ease-in-out;
    transition-delay: 1s;
}

/* التأثير على p عند تحريك الماوس فوق .parent */
.parent:hover p {
    margin-top: -5px;
}
