/* :root {
    --mainColor: #009688;
    --mainPadding: 10px;
  } */
  
  div {
    border:2px solid var(--mainColor,black);
    color: var(--mainColor,red);
    padding: var(--mainPadding,10px);
    margin: var(--mainPadding,10px);
  }