.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
}
.grid
{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 , auto);
    grid-template-rows: 50px 1fr;
    gap: 10px;
}
.grid div
{
    background-color: #607d8b;
    color: white;
    font-family: arial;
    text-align: center;
    align-content: center;
}
.grid div::after
{
    content: "Element 1";
}
.grid div + div::after
{
    content: "Element 2";
}
.grid div + div + div::after
{
    content: "Element 3";
}
.grid div + div + div + div::after
{
    content: "Element 4";
}
.grid div + div + div + div + div::after
{
    content: "Element 5";
}
.grid div + div + div + div + div + div::after
{
    content: "Element 6";
}